In [17]:
from matplotlib import pyplot as plt
import pandas as pd
import datetime

In [18]:
df = pd.read_csv('/home/mikee/projects/lightcst/data/LightStatus.csv')

In [19]:
df

          na  State              Name                Date
0      ["xx"      0      Front Lights  22/01/20T08:08:22]
1      ["xx"      0  Back Yard Lights  22/01/20T08:08:22]
2      ["xx"      0  Back Yard Lights  22/01/20T08:09:20]
3      ["xx"      0      Front Lights  22/01/20T08:09:21]
4      ["xx"      0      Front Lights  22/01/20T08:10:21]
...      ...    ...               ...                 ...
73583  ["xx"      0  Back Yard Lights  22/03/19T07:35:58]
73584  ["xx"      0  Back Yard Lights  22/03/19T07:38:58]
73585  ["xx"      0  Back Yard Lights  22/03/19T07:41:58]
73586  ["xx"      0  Back Yard Lights  22/03/19T07:44:58]
73587  ["xx"      0  Back Yard Lights  22/03/19T07:46:58]

[73588 rows x 4 columns]

In [20]:
dates = df['Date']

In [21]:
dates

0        22/01/20T08:08:22]
1        22/01/20T08:08:22]
2        22/01/20T08:09:20]
3        22/01/20T08:09:21]
4        22/01/20T08:10:21]
                ...
73583    22/03/19T07:35:58]
73584    22/03/19T07:38:58]
73585    22/03/19T07:41:58]
73586    22/03/19T07:44:58]
73587    22/03/19T07:46:58]
Name: Date, Length: 73588, dtype: object

In [22]:
format = '%y/%m/%dT%H:%M:%S]' # The date format string used to convert to a datetime object
switchname = 'Front Lights'
p_row = 0

In [23]:
for index, row in df.iterrows():
        if row['Name'] == switchname:
            if row['State'] == 1 and p_row == 0: # Find the first occurance of ON when OFF for the named switch.
                flstart = datetime.datetime.strptime(row['Date'], format)
            if flend != 0: # The lights are still ON

IndentationError: expected an indented block (1090485923.py, line 6)

In [ ]:
                datestr = row['Date'].split("T")[0]

In [ ]:
datestr

'22/03/19'