In [5]:
import pandas as pd
import numpy as np
timelst = pd.read_csv('/home/mikee/projects/lightcst/data/Lighton.txt')
timelst

                     ['22/01/21'  'Front Lights'  '13:59:00'  '13:59:00']
['22/01/22'       'Front Lights'      '13:57:00'      '1 day    3:56:00']
['22/01/23'       'Front Lights'      '13:54:00'      '1 day   17:50:00']
['22/01/24'       'Front Lights'      '13:53:01'     '2 days    7:43:01']
['22/01/25'       'Front Lights'      '14:00:26'     '2 days   21:43:27']
['22/01/26'       'Front Lights'      '13:49:05'     '3 days   11:32:32']
...                          ...             ...         ...          ...
['22/05/02'   'Back Yard Lights'       '9:28:01'    '49 days   10:28:53']
['22/05/03'   'Back Yard Lights'       '9:26:01'    '49 days   19:54:54']
['22/05/04'   'Back Yard Lights'       '9:23:03'    '50 days    5:17:57']
['22/05/05'   'Back Yard Lights'       '9:22:03'    '50 days   14:40:00']
['22/05/06'   'Back Yard Lights'       '9:18:03'    '50 days   23:58:03']

[202 rows x 4 columns]